<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{game/default}">
	
<head>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>	

	<div layout:fragment="main" id="main">
		<h2>리뷰 작성</h2>
		<form method="post" action="/gamepost/write" th:object="${gamePostDto}">
			작성자 : <input type="text" th:field="*{writer}" readonly="readonly"> <br>
		
			제목 : <input type="text" th:field="*{title}"> <br>
		<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>	
		
			게임 : <input type="text" th:field="*{game_name}"> <br>
		<p th:if="${#fields.hasErrors('game_name')}" th:errors="*{game_name}"></p>	
			
			내용 : <textarea th:field="*{target_post}"></textarea> <br>
		<p th:if="${#fields.hasErrors('target_post')}" th:errors="*{target_post}"></p>	
			<button>작성</button>
		</form>
	</div>


</html>