@charset "UTF-8";
/* write.css */

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

#wrap{
	width: 400px;
	margin: 0 auto;
}

#enrollCount{
	padding: 15px;
}

#formWrap{
	width: 100%;
	padding: 10px;
}

.inputField{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 7px 0;
}

.inputField input{
	width: 300px;
	height: 35px;
	padding: 10px;
	border-radius: 10px;
}

#bt{
	width: 80%;
	border: 0;
	background: #68cdce;
	display:block;
	margin: 0 auto;
	padding: 10px 0;
	border-radius: 10px;
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	cursor:pointer;
}