@charset "UTF-8";

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
ul{ list-style: none;}
a{ color:inherit;  text-decoration: none;}

#wrap{
	width:1000px;
	margin:0 auto;
}
#header{
	width:100%;
	margin-bottom:50px;
	border-bottom:1px solid #ddd;position:sticky; top:0;
	background:#fff;
	
}
#nav{
	padding:10px 0; 
	 display:flex;
	align-items:center;
}
#menuList{
	width:650px; display:flex;
}
#menuList li{  
	padding:0 50px;
	transition: 0.5s;
	overflow: hidden;
	position:relative;
}
#menuList li:hover{
	background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}







#userALogo{
	width:350px; display:flex;
	justify-content: space-between; height:50px; align-items:center;
}
#userALogo .logo{
	background:url(/image/logo.jpg) no-repeat center;
	background-size:cover;
	width:200px;  cursor:pointer;height:50px;
}
