@charset "UTF-8";

#main{
	width:100%;
	padding:50px 0px 150px 0px;
}
#formData{
	width:400px;
	margin:0 auto;
}
#formData .inputField{
	width:100%;
	margin-bottom:40px;
	position:relative;
}
#formData .inputField input{
	outline: none;
	border:0;
	font-size:25px;
	padding:10px 15px;
	border-bottom:2px solid #ddd;
	width:100%;
}
#formData .inputField label{
	position:absolute;
	left:17px; top:14px;  font-size:19px;
	color:#999;
	transition:all 1s;
	
}
#formData .inputField .focus{
	top:-17px; color:#555;
}
#formData .inputField .active{
	border-color: black;
}
.loginBt button{
	border:0;
	background:black;
	color:Red;
	width:250px;
	padding:10px 0;
	font-size:23px;
	font-weight:700;
	border-radius:10px;
	margin:0 auto;
	display:block;
}

#forget_new{
	width:400px;
	margin:40px auto;
	display:flex;
	justify-content: space-between;
}

.fieldError{ color:red; padding-top:7px;}