<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{game/default}">
	
<head>
	<th:block layout:fragment="css">
		<link rel="stylesheet" href="/css/game_join.css">
	</th:block>
	<th:block layout:fragment="script">
		<script src="/js/gamejoin.js"></script>
	</th:block>
</head>	

	<div layout:fragment="main" id="main">
		<form method="post" action="/game/signUp" th:object="${gameMember}">
			<div id="formData">
				<div class="inputField">
					<input type="email" th:field="*{email}">
					<label th:for="email">이메일</label>
					<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError"></p>		
				</div>
				<div class="inputField">
					<input type="password" th:field="*{password}">
					<label th:for="password">비밀번호
						<b id="pw1"></b>
					</label>
					<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="fieldError"></p>		
				</div>
				<div class="inputField">
					<input type="password" id="chk">
					<label th:for="chk">비밀번호 확인
						<b id="pw2"></b>		
					</label>		
				</div>
				<div class="inputField">
					<input type="text" th:field="*{nickName}">
					<label th:for="nickName">닉네임</label>		
					<p th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}" class="fieldError"></p>
				</div>
				<button id="joinBt">SignUp</button>
				
			</div>
		</form>
	</div>


</html>