<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{game/default}">
	
<head>
<title layout:fragment="title">게임 회원가입</title>

<th:block layout:fragment="css">
	<link rel="stylesheet" href="/css/game_join.css">
</th:block>
<th:block layout:fragment="script">
	<script src="/js/gameJoin.js"></script>
</th:block>
</head>	
	
	
	<div layout:fragment="main" id="main">
		<form method="post" action="/movie/signUp" th:object="${gameMember}">
				
			<div id="formData">
				<div class="inputField">
					<input type="email" th:field="*{email}">
					<label th:for="email">이메일</label>
				</div>
				<div class="inputField">
					<input type="password" th:field="*{password}">
					<label th:for="password">비밀번호</label>
				</div>
				<div class="inputField">
					<input type="password" id="chk"> 
					<label th:for="chk">비밀번호 확인</label>
				</div>
				<div class="inputField">
					<input type="text" th:field="*{nickname}">
					<label th:for="name">닉네임</label>
				</div>

						
				<button id="joinBt">SignUp</button>
						
			</div>
					
		</form>
			
	</div>
			

</html>