<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{game/default}">
	
<head>
	<title layout:fragment="title">게임톡톡</title>
	<th:block layout:fragment="css"></th:block>
	<th:block layout:fragment="script"></th:block>
</head>
	
	<div layout:fragment="main" id="main">
		<h3>모바일 게임 게시판 후기</h3>
		<p>
			<a href="/gamePost/gamewrite">리뷰작성</a>
		</p>
	</div>
	
		<div id="section_middle">
			<table id="gameList">
				<tr>
					<th class="num">번호</th>
					<th class="title">제목</th>
					<th class="date">작성일</th>
				</tr>
				<!-- th:each="변수" : %{배열또는 컬렉션}"
				동작 -> ${}의 0 인덱스 값부터 변수에 하나씩 저장된다.
				 -->
				 
				 <tr th:each="row:${gameList}">
				 	<td class="num" th:text="${row.post_id}"></td>
				 	<td class="title"> 
				 		<a th:href="@{'/mobileGame/view/'+${row.post_id}}" th:text="${row.title}"></a>
				 	</td>
				 	<td class="name" th:text="${row.gameName}"></td>
				 	<td class="target" th:text="${row.targetPost}"></td>
				 	<td class="date" th:text="${#temporals.format(row.write_date,'yyyy-MM-dd')}"></td>
				 </tr>
				 
<!-- 
	thyeleaf 날짜 출력
	${#temporals.formatISO(변수명)}
	
	${#dates.format(standardDate, 'yyyy-MM-dd HH:mm')} -> 2024-08-19 10:31
 -->
			</table>
			<table id="reviewList">
			</table>
		</div>		
		
		<div id="section_bottom">
			<div id="searchBox">
			</div>
		</div>		
	</div>


</html>
	